@import './config';

.Welcome {
    width:100%;
    height:100vh;
    background: url(../assets/img/welcome.svg);
    background-size: cover;
    background-position: center;
} 

.WelcomeContent {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width:44%;
    margin-left: 6%;
}

.ButtonFull {
    width: 40%;
    height: 9vh;
    border-color: white;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--blue-gradient);
    border-radius: 66px;
    color: white;
    box-shadow: none;
    margin-right: 4%;
    font-family: var(--inter-regular);
    font-size: clamp(1rem, 0.5000rem + 1.12500vw, 3.5rem);
    box-shadow: 8px 4px 9px var(--lightblue);
}

.ButtonEmpty {
    width: 40%;
    height: 9vh;
    border-color: var(--lightblue);
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    border-radius: 66px;
    color: var(--lightblue);
    box-shadow: none;
    font-family: var(--inter-regular);
    font-size: clamp(1rem, 0.5000rem + 1.125000vw, 3.5rem);
    box-shadow: 8px 4px 9px var(--lightblue);
}

.ButtonFull:hover {
    transition: all 0.4s;
    transform:scale(1.1,1.1);
    box-shadow: none;
}

.ButtonEmpty:hover {
    transition: all 0.4s;
    transform:scale(1.1,1.1);
    box-shadow: none;
}

.ButtonContainerWelcome {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.HigherText {
    display:inherit;
}

@media screen and (max-width: 715px) {
    .WelcomeContent {
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }

    .Welcome {
        width:100%;
        height:100vh;
        background-image: url(../assets/img/welcome_transparency.svg);
        background-size: cover;
        background-position: 80% 20%;
    } 
}